{% extends 'base.html.twig' %}

{% block title %}ACCUEIL{% endblock %}

{% block body %}

<!DOCTYPE html>
	<html>
			<head>
				<meta charset="UTF-8" />
				
				<!-- BOOSTSTRAP CSS -->
				<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
				
				<!-- CODE CSS -->
				<style>
					footer 
					{ 
						background-color: black;
						color: white;
					}
					#Conteneur
					{ 
						display: flex;
						flex-direction: rows;
						justify-content: center;
					}
				</style>
			</head>
			
			<body>
	
				<header> 	
			
					<!--Creer mon LOGO et INSERER PLUS TARD -->
			
				</header> 
				
				<nav>
					<p><a href="inscription.html">INSCRIPTION</a><p>
				</nav>
				
				<section>
					<!-- A COMPLETER PLUS TARD PRESENTATION DE L'APPLICATION ET AUTRES !!-->
				</section>
				
				<footer>
				    
					<div id="Conteneur"> 
						<div class="element1"> <h3> À propos de l'auteur </h3> 
						<p> Par Kanhonou Einaudi <br/> DUT2 RT <br/> Parcours L <br/> IUT Roanne <br/>
						</p>
					</div>
						

				</footer>
			
			</body>




{% endblock %}
